# CONFIG_MBEDTLS_HAVE_TIME_DATE is not set
CONFIG_MBEDTLS_CERTIFICATE_BUNDLE=y
CONFIG_MBEDTLS_CERTIFICATE_BUNDLE_DEFAULT_FULL=y
CONFIG_PARTITION_TABLE_SINGLE_APP_LARGE=y
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_EXAMPLE_CONNECT_WIFI=y
CONFIG_EXAMPLE_WIFI_SSID="VTK"
CONFIG_EXAMPLE_WIFI_PASSWORD="AA12345678@"
# CONFIG_EXAMPLE_WIFI_AUTH_OPEN is not set
CONFIG_EXAMPLE_WIFI_AUTH_WPA2_PSK=y
