menu "AMap Weather Configuration"

    config AMAP_API_KEY
        string "AMap Web Service API Key"
        default "47478abb752cf12e1a6c91ab0892cae0"
        help
            API Key used for the AMap IP location and live weather APIs.

endmenu
